.section {
    border-top: 1px solid rgba(126, 126, 126, 0.10);  /* Border at the top */
    border-bottom: 1px solid rgba(126, 126, 126, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 48px;
    flex-direction: row-reverse;
    margin-top: 50px;
}

.case-img {
    width: 500px;
}


.case-text {
    text-align: left;
}

.case-title {
    display: flex;
    align-items: center;
    font-size: 25px;
    text-decoration: underline;
}

.case-logo {
    display: flex;
    width: 100px;
    margin-right: 12px;
}

.case-text a p {
    color: #008DDE;
}
.case-tools {
    display: flex;
    
}
.case-img-tools {
    width: 200px;
    margin-left: 12px;
}

.case-text h1 {
    padding: 12px;
    padding-left: 0px;
}

.mobile-title {
    border-bottom: 1px solid rgba(126, 126, 126, 0.10); /* Border at the bottom */

}

.case-description {
    color: #959595;
}


/* Small screens (phones) */
@media (max-width: 600px) {

    .section {
        display: block;
        flex-direction: row-reverse;
        padding: 12px;
    }

    .mobile-title {
        display: none;
    }
    

    .case-img {
        width: 350px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
   
    .section {
        display: block;
        flex-direction: row-reverse;
    }

    .case-img {
        width: 500px;
    }

    .mobile-title {
        display: none;
    }

  }



@media (min-width: 1025px) {

   .desktop-title {
    display: none;
   }

   .case-title img {
    display: none;
   }

   .mobile-title {
    display: flex;
    align-items: center;
    font-size: 25px;
    text-decoration: underline;
}
.case-img {
    width: 700px;
}
}  