footer {
    justify-content: space-between;
    bottom: 0;
    box-shadow: 0px -1px 1px 0px rgba(126, 126, 126, 0.10);
    padding-top: 64px;
    position: relative;

}

.footer-icons-container {
    display: block;
}

.footer-icons-container a{
    padding: 8px;
}

.connect-title {
    font-size: 32px;
}

#quote {
    text-decoration: none;
    margin-top: 64px;
    margin-bottom: 32px;
}

.clipboard {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    padding-top: 0px;
    margin-bottom: 0px;
}

.clipboard h4:hover {
    box-shadow: 3px 3px 0 #51C447;
    transform: translateX(0px) translateY(-10px);
    transition: all 0.5s ease;
}

.clipboard h4 {
    color: #EFEFEF;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #51C447; 
    border-radius: 48px;
    transition: all 0.5s ease;

}

.copy {
    margin-bottom: -5px;
    margin-left: 5px;
}

.footer-container {
    display: flex;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    margin-top: 16px;
    position: relative;
    z-index: 3;
    box-shadow: 0px -1px 1px 0px rgba(126, 126, 126, 0.10);
}

.footer-container p {
    font-size: 12px;
}

.footer-container img {
    font-size: 12px;
}

@media (max-width: 600px) {
    .footer-container img {
        font-size: 8px;
    }

    .footer-container {
        padding-bottom: 4px;
        margin-top: 50px;
    }

}