nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

#flourescent {
  mix-blend-mode: difference;
  background-color: rgb(132, 92, 188);
}

.left-menu {
  display: none;
}

.hamburger-menu li{
  font-size: 16px !important;
}

#location {
  white-space: nowrap;
  position: absolute;
}

.logo {
  font-weight: 800;
}
body.menu-open {
  overflow: hidden;
}

.add-links {
  overflow: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EFEFEF;
  padding: 0px 16px 0px 16px;
  position: -webkit-sticky; /* For Safari */
  top: 0;
  align-items: flex-start;  
}

.navbar-left, .navbar-center, .navbar-emblem, .navbar-logo {
  flex: 1000;
  text-align: center;
}

.nav-menu {
  display: none;
}

.nav-menu a {
    padding-bottom: 16px;
    margin-left: 12px;
}



.navbar-emblem {
  text-align: center;
  max-width: fit-content;
}

.navbar a {
  text-decoration: none;
  display: block;
  font-family: Karla;
}

  
.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #101720; /* Adjust the color as needed */
  visibility: hidden;
}

.hover-underline:hover::after {
  visibility: visible;
  width: 100%;
}

.flourescent-nav {
  height: 25px;
  flex-shrink: 0;
  background: linear-gradient(90deg, #5D95A4 0%, #C97838 100%);
  width: 100%;
  display: block;
}

.landing-page-link {
  color: #101720;
}

#emblem {
  width: 50px;
}

@media (max-width: 600px) {
  #emblem {
    width: 50px;
    padding-left: 0px;
  }

  .navbar {
    justify-content: space-between;
    z-index: 1;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EFEFEF;
    position: -webkit-sticky; /* For Safari */
    top: 0;
    align-items: flex-start; 
  }

}

@media (min-width: 1025px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
  }

  .left-menu { 
    display: flex;
    padding-left: 16px;
    gap: 12px;
  }

  .nav-right-container {
    display: flex;
  }



  .left-menu #landing-page-link {
    margin-top: 16px;
  }


  .nav-left-container {
    float: left;
    display: flex;
    justify-content: flex-start;
  }

  .navbar-emblem {
    text-align: left;
    float: left;
    display: flex;
  }

  .nav-menu {
    float: right;
    display: flex;
    padding: 16px;
    padding-right: 0px;
  }   
  
  .menu-container {
    display: none;
  }

  #flourescent {
    mix-blend-mode: difference;
    background-color: rgb(71, 97, 175);
  }

}