
.project-divider {
    text-align: left;
    margin-left: 15%;;
    margin-right: 15%;;
    border-bottom: .7px solid #C5E3FE; /* Sets a 2px solid black bottom border */
    position: relative;
    z-index: 0;
    margin-top: 96px;
}

.project-title {
    margin-top: 8px;
    margin-bottom: 8px;
}


.soft-title {
    font-weight: normal;
}

.project-divider h1 {
    font-weight: bold;
    font-size: 24px;

}

#project-button {
    margin-left: 15%;
    margin-right: 15%;
    transition: all 0.5s ease;


}

#project-button:hover {
    box-shadow: 5px 5px 0 #C5E3FE;
    transform: translateX(0px) translateY(-5px);
    transition: all 0.5s ease;
}

.project-position {
    margin-top: 24px;
    margin-bottom: 0%;
}

.project-img {
    width: 100%;
}



.mobile-project-section {
    display: none;
}

.project-section {
    text-align: left;
    margin-top: 96px;
    margin-bottom: 96px;
    display: block;
}

.project-categories {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    margin-left: 15%;
    margin-right: 15%;
}

.project-position {
    opacity: 60%;
}

.project-categories p {
    margin-left: 0px !important;
    margin-right: 12px !important;
    background-color: #212121;
    color: #C5E3FE;
    border-radius: 4px;
    padding: 8px 24px;
    font-weight: bold;
    border: solid .7px #C5E3FE;
}

.project-section .button {
    background-color: #212121;
    border-color: #C5E3FE;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border-style: solid;
    width: fit-content;
    border-width: .7px;
}

.link {
    display: flex;
    
}



.project-section h1, p, .button{
    color: #C5E3FE;   
    margin-left: 15%;;
    margin-right: 15%;;
    border-width: .7px;
}

@media (max-width: 810px) {
    .project-divider {
        text-align: left;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 96px;

    }

    .project-section {
        display: none;
    }


    .project-img {
        width: 100%;
       
    }

    .project-title {
        font-size: 20px;
    }



    .mobile-project-section {
        text-align: left;
        margin-top: 48px;
        margin-bottom: 48px;
        display: block;
        margin-left: 24px;
        margin-right: 24px;
    }

    .mobile-project-section .button {
        background-color: #212121;
        border-color: #C5E3FE;
        padding: 12px 24px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        border-style: solid;
        width: fit-content;
        margin-left: 0px;
        border-width: .7px;
    }

    .project-position {
        margin-left: 0px;
    }
    
    .mobile-project-section h1, p, .button{
        color: #C5E3FE;   
        margin-left: 0px;
        margin-right: 12px;
        border-width: .7px;
    }

    .mobile-project-section h1 {
        line-height: 1.5;
    }
}