.spin-container {
    position: absolute;
    width: 400px;
    height: 400px;
    right: 100px;
    top: 470px;
  }
  
  .center-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .circular-text {
    position: absolute;
    width: 120%;
    height: 120%;
    top: -40px;
    left: -40px;
    transform: rotate(0deg); /* initial rotation */
    transition: transform 30s ease; /* smooth transition */
  }
  
  /* On hover, rotate 360 degrees */
  .spin-container:hover .circular-text {
    transform: rotate(720deg);
  }

  @media (max-width: 1050px) {
    .spin-container {
      position: relative; /* use relative to avoid absolute offset issues on small screens */
      width: 300px;
      height: 300px;
      right: 0;
      top: 32px;
      margin: 60px auto 0 auto; /* center horizontally with margin */
    }
     
    .center-image {
      width: 100%;
      top: 50%;
      left: 90%;
      transform: translate(-90%, -50%);
    }
  
    .circular-text {
      width: 150%;
      height: 150%;
      top: -60px;
      left: -60px;
    }
  }

  @media (max-width: 810px) {

    .spin-container {
        position: relative; /* use relative to avoid absolute offset issues on small screens */
        width: 250px;
        height: 250px;
        right: 0;
        top: 32px;
        margin: 60px auto 0 auto; /* center horizontally with margin */
      }
    
      .center-image {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .circular-text {
        width: 150%;
        height: 150%;
        top: -60px;
        left: -60px;
      }

  }