.spin-container {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0;
  margin-bottom: 12px;
}

.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.circular-text {
  position: absolute;
  width: 130%;
  height: 130%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: center;
  transition: transform 30s ease;
}

.spin-container:hover .circular-text {
  transform: translate(-50%, -50%) rotate(720deg);
}

/* Medium Screens */
@media (max-width: 1050px) {
  .spin-container {
    width: 200px;
    height: 200px;
  }

  .circular-text {
    width: 140%;
    height: 140%;
  }
}

/* Small Screens */
@media (max-width: 810px) {
  .spin-container {
    width: 180px;
    height: 180px;
  }

  .circular-text {
    width: 150%;
    height: 150%;
  }
}