html, body {
    height: 100%;
    margin: 0;
    background-color: #EFEFEF;
    overflow-x: hidden;
}


body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1, h2 {
    font-family: Sumana;
    color: #101720;
    font-weight: 800;
    line-height: 1;
}

h3, h4 {
    font-family: Sumana;
    color: #101720;
}

p, li {
    font-family: Sumana;
    color: #101720;
}

Link {
    color: #101720;
    font-size: 16px !important;
}

.content {
    flex: 1;
}

.border-line {
    text-decoration: solid;
    box-shadow: 0px 1px 1px 0px rgba(126, 126, 126, 0.10);
}

#btn:hover {
    background-color:  #EFEFEF;
    color: #101720;
    cursor: pointer;
    transition: 0.3s;
    border-style: solid;
    border-color: #101720;
    border-width: 3px;
}

a:visited {
    color: #101720; /* Link color after it has been visited */
}

.landing-page-link {
    color: #101720;
  }

.landing-page-link {
    text-decoration: none;
    display: inline-block;
}

